$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 576px;
$value_two: 767px;
$value_three: 768px;
$value_four: 991px;
$value_five: 992px;
$value_six: 1199px;
$value_seven: 1200px;
$value_eight: 1355px;
$value_nine: 1550px;
$value_600: 600px;

/* Max width 767px */
@media only #{$media} and ($feature_max : $value_two) {

    body {
        font-size: 14px;
    }
    .container {
        max-width: 100%;
    }
    .admin-bar .navbar-area.is-sticky {
        top: 0;
    }
    .default-btn {
        padding: 11px 25px 11px 50px;
        font-size: 14px;

        i {
            left: 25px;
            font-size: 18px;
        }
    }
    .ptb-100 {
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .pt-100 {
        padding-top: 60px;
    }
    .pb-100 {
        padding-bottom: 60px;
    }
    .ptb-70 {
        padding: {
            top: 30px;
            bottom: 30px;
        };
    }
    .pt-70 {
        padding-top: 30px;
    }
    .pb-70 {
        padding-bottom: 30px;
    }
    .section-title {
        max-width: 100%;
        margin-bottom: 40px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
    }
    .form-control {
        font-size: 14px;
    }

    .top-header-area {
        text-align: center;

        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .top-header-contact-info {
        margin-bottom: -8px;

        li {
            margin: {
                left: 5px;
                right: 5px;
                bottom: 8px;
            };
            &:firat-child {
                margin-left: 0;
            }
        }
    }
    .top-header-right {
        text-align: center;
        margin-top: 10px;

        .justify-content-end {
            justify-content: unset !important;
            display: block !important;
        }
        ul {
            li {
                display: inline-block;
                margin: {
                    left: 5px;
                    right: 5px;
                    bottom: 8px;
                };
                &:firat-child {
                    margin-left: 0;
                }
            }
        }
    }

    .search-overlay {
        .search-overlay-form {
            max-width: 290px;
            width: 290px;
        }
    }

    .admin-bar {
        .navbar-area.is-sticky {
            top: 0;
        }
    }

    .main-banner-area {
        padding: {
            top: 70px;
            bottom: 50px;
        };
        .container {
            max-width: 100%;
        }
    }
    .main-banner-content {
        padding-right: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .main-banner-image {
        text-align: center;
        margin: {
            left: 0;
            top: 30px;
        };
        padding: {
            left: 0;
            bottom: 0;
        };
        img {
            &:nth-child(2) {
                position: relative;
                left: 0;
                bottom: 0;
                width: auto;
                margin: 30px auto 0;
            }
        }
    }
    .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10 {
        display: none;
    }

    .main-banner-area-two {
        padding-top: 70px;

        .container-fluid {
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-content-two {
        margin-right: 0;
        text-align: center;
        max-width: 100%;
        padding: 0;
        margin-left: 0;

        .sub-title {
            font-size: 13px;
            margin-bottom: 10px;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 12px;
        }
        p {
            max-width: 100%;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .main-banner-image-two {
        padding-left: 0;
        margin-top: 30px;
    }

    .single-featured-services-box {
        padding: 25px 15px;

        h3 {
            font-size: 17px;
        }
    }

    .single-categories-box {
        h3 {
            top: 15%;
            left: 15px;
            font-size: 17px;
        }
        .default-btn {
            left: 15px;
            bottom: 15px;
        }
    }
    .single-categories-item {
        .content {
            left: 15px;

            h3 {
                font-size: 17px;
                margin-bottom: 18px;
            }
        }
    }

    .about-image {
        padding-right: 0;
    }
    .about-content {
        padding-left: 0;
        text-align: center;
        margin-top: 30px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 17px;
        }
    }

    .testimonials-area {
        &::before {
            top: 50%;
            transform: translateY(-50%);
            font-size: 280px;
        }
    }
    .single-testimonials-item {
        p {
            font-size: 15px;
        }
        .clients-info {
            margin-top: 20px;

            .info {
                h3 {
                    font-size: 17px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
    }
    .testimonials-slides {
        .single-testimonials-item {
            max-width: 100%;
        }
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    top: auto;
                    bottom: 8px;
                    transform: unset;
                    width: 35px;
                    height: 35px;
                    font-size: 20px;
                }
            }
        }
    }

    .services-area {
        padding-bottom: 30px;
    }
    .single-services-box {
        margin-bottom: 30px;
        padding-left: 0;
        text-align: center;

        .icon {
            position: relative;
            width: 50px;
            height: 50px;
            font-size: 25px;
            margin: {
                left: auto;
                right: auto;
                bottom: 20px;
            };
        }
        h3 {
            font-size: 17px;
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 12px;
        }
    }

    .video-area {
        padding: {
            top: 60px;
            bottom: 60px;
        };
    }
    .video-content {
        h2 {
            font-size: 24px;
        }
        p {
            max-width: 100%;
        }
        .video-btn {
            width: 60px;
            height: 60px;
            font-size: 50px;

            i {
                margin-top: 0;
            }
        }
    }

    .single-working-process-box {
        padding-left: 0;
        text-align: center;

        .icon {
            position: relative;
            width: 50px;
            height: 50px;
            font-size: 25px;
            margin: {
                left: auto;
                right: auto;
                bottom: 20px;
            };
        }
        h3 {
            font-size: 17px;
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 12px;
        }
        .number {
            top: 50%;
            font-size: 130px;
            transform: translateY(-50%);
        }
    }

    .why-choose-content {
        padding-right: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        h3 {
            font-size: 17px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
    .why-choose-image {
        padding-left: 0;
        margin-top: 30px;
    }

    .single-team-box {
        .image {
            .social {
                right: 22px;
                bottom: 22px;

                span {
                    width: 35px;
                    height: 35px;
                    font-size: 16px;
                }
                ul {
                    bottom: 50px;

                    li {
                        position: relative;
                        margin-top: 10px;

                        a {
                            width: 35px;
                            height: 35px;
                            font-size: 16px;
                        }
                        &:nth-child(1) {
                            right: 0;
                            top: 0;
                        }
                        &:nth-child(2) {
                            right: 0;
                            top: 0;
                        }
                        &:nth-child(3) {
                            right: 0;
                            top: 0;
                        }
                        &:nth-child(4) {
                            right: 0;
                            top: 0;
                        }
                        &:nth-child(5) {
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
        .content {
            margin-top: 20px;

            h3 {
                font-size: 17px;
            }
            span {
                font-size: 13px;
            }
        }
    }

    .partner-inner-area {
        padding: {
            left: 15px;
            right: 15px;
        };
        .section-title {
            text-align: center;
            margin-bottom: 30px;
        }
        .partner-list {
            margin-bottom: -30px;
        }
        .partner-item {
            margin-bottom: 30px;
        }
    }

    .single-blog-post {
        .content {
            margin-top: 12px;
            padding: 0 15px 15px 15px;
            .meta {
                text-align: center;
                li {
                    margin-top: 3px;
                    i {
                        top: 3px;
                        font-size: 15px;
                    }
                }
            }
            h3 {
                text-align: center;
                font-size: 17px;
            }
            .link-btn {
                position: relative;
                left: 0;
                bottom: 0 !important;
                opacity: 1 !important;
                visibility: visible !important;
                margin-top: 10px;
            }
        }
    }

    .blog-details-desc {
        padding: 15px;
        .article-content {
            .entry-meta {
                ul {
                    margin-bottom: -15px;

                    li {
                        display: inline-block;
                        border-right: none;
                        font-size: 13px;
                        padding-right: 0;
                        margin: {
                            bottom: 13px;
                            right: 13px;
                        };
                        &:last-child {
                            margin: {
                                right: 0;
                            };
                        }
                        i{
                            font-size: 13px;
                        }
                    }
                }
            }
            h3 {
                font-size: 18px;
                line-height: 1.4;
            }
        }
        .article-footer {
            text-align: center;
            padding-top: 25px;
            margin-top: 25px;

            .article-tags {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .article-share {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 15px;

                .social {
                    text-align: center;
                }
            }
        }
        .article-author {
            .author-profile {
                padding: 0 15px 15px;

                .author-profile-title {
                    h4 {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .prev-link-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;

        .prev-title {
            font-size: 14px;
        }
    }
    .next-link-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px;

        .next-title {
            font-size: 14px;
        }
    }
    blockquote, .blockquote {
        padding: 20px !important;

        p {
            font-size: 15px !important;
        }
        &::before {
            left: 25px;
            top: -10px;
            font-size: 60px;
        }
    }
    .contact-form {
        padding: 20px;
        margin: {
            right: 0;
            bottom: 40px;
        };
    }
    .contact-info-box {
        padding-left: 90px;

        .icon {
            width: 70px;
            height: 75px;
        }
        h3 {
            margin-bottom: 8px;
            font-size: 17px;
        }
    }

    .subscribe-inner-area {
        padding: {
            left: 15px;
            right: 15px;
            top: 30px;
            bottom: 30px;
        };
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        form {
            max-width: 100%;
            padding-right: 0;
            margin-top: 25px;

            .default-btn {
                position: relative;
                top: 0;
                height: auto;
                margin-top: 15px;
            }
            .input-newsletter {
                padding: {
                    left: 50px;
                    top: 1px;
                };
            }
            #validator-newsletter {
                bottom: -25px;
            }
        }
    }
    .subscribe-shape1, .subscribe-shape2 {
        display: none;
    }

    .subscribe-inner-area-two {
        padding: {
            left: 15px;
            right: 15px;
            top: 30px;
            bottom: 30px;
        };
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 24px;
        }
        form {
            max-width: 100%;
            padding-right: 0;
            margin-top: 25px;

            .default-btn {
                position: relative;
                top: 0;
                height: auto;
                margin-top: 15px;
            }
            .input-newsletter {
                padding: {
                    left: 50px;
                    top: 1px;
                };
            }
            #validator-newsletter {
                bottom: -25px;
            }
        }
    }

    .page-title-area {
        padding: {
            top: 70px;
            bottom: 70px;
        };
    }

    .page-title-area.style-2 {
        &::before {
            content: '';
        }
    }

    .page-title-content {
        max-width: 100%;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 26px;

            &::before {
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .single-funfacts-box {
        padding: {
            top: 50px;
            bottom: 50px;
            left: 15px;
            right: 15px;
        };
        h3 {
            font-size: 35px;

            .odometer {
                top: -1px;
            }
        }
        p {
            margin-top: 8px;
            font-size: 14px;
        }
    }

    .elementor-widget-Overview_Area {
        margin-bottom: 30px !important;
    }

    .services-details-overview {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 40px;
        margin-bottom: 30px;
        margin: {
            left: -15px;
            right: -15px;
        };
        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        .services-details-desc {
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;
            padding: {
                left: 15px;
                right: 15px;
            };
            h2 {
                margin-bottom: 15px;
                font-size: 20px;
            }
            .features-text {
                h3 {
                    font-size: 16px;
                    padding-left: 20px;

                    i {
                        left: -5px;
                        top: -4px;
                        font-size: 22px;
                    }
                }
            }
        }
        .services-details-image {
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
            margin-top: 30px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .single-projects-box {
        .projects-content {
            padding: 25px 15px;

            h3 {
                font-size: 17px;
            }
        }
    }
    .discover-more-projects-btn {
        margin-top: 15px;
    }

    .pagination-area {
        margin-top: 15px;

        .page-numbers {
            width: 35px;
            height: 35px;
            line-height: 37px;
            font-size: 16px;
            margin: {
                left: 3px;
                right: 3px;
            };
        }
    }

    .projects-details-desc {
        h2 {
            margin-bottom: 12px;
            font-size: 20px;
        }
        .features-text {
            h3 {
                font-size: 16px;
                padding-left: 20px;

                i {
                    left: -5px;
                    top: -4px;
                    font-size: 22px;
                }
            }
        }
        .project-details-info {
            margin-top: -5px;
            text-align: center;

            .single-info-box {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 20px;

                h4 {
                    font-size: 16px;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .single-pricing-box {
        padding: 20px;

        .pricing-header {
            margin: -20px -20px 20px -20px;
            padding: {
                left: 15px;
                right: 15px;
                top: 20px;
                bottom: 19px;
            };
            h3 {
                font-size: 18px;
            }
        }
        .price {
            line-height: 30px;
            font-size: 30px;

            sub {
                line-height: 16px;
                margin: 0 -5px 0 -6px;
                top: -2px;
                font-size: 16px;
            }
        }
        .price-features-list {
            padding: 20px;
            margin: 20px -20px 20px -20px;

            li {
                font-size: 14px;
            }
        }
    }

    .guto-lite-grid-sorting {
        margin-bottom: 30px;
        text-align: center;

        .ordering {
            text-align: center;
            margin-top: 15px;
        }
    }
    .products-area {
        .pagination-area {
            margin-top: 15px;
        }
    }
    .single-products-box {
        .products-image {
            .default-btn {
                position: relative;
                left: 0;
                right: 0;
                top: auto;
                transform: unset;
                opacity: 1;
                visibility: visible;
                margin-top: 0;
                bottom: 15px;
                padding: 11px 25px 11px 50px !important;
                font-size: 11px !important;
            }
            .added_to_cart {
                padding-top: 0;
            }
        }
        .products-content {
            margin-top: 10px;
            h3 {
                font-size: 17px !important;
                margin: 0;
            }
            .price {
                font-size: 14px !important;
            }
        }
    }

    .woocommerce {
        ul.products {
            margin-bottom: 0 !important;
            li.product {
                margin-bottom: 5px !important;
            }
        }
        .woocommerce-result-count {
            margin: 0;
            text-align: center;
            float: none;
        }
    }

    .woocommerce-topbar {
        .woocommerce-topbar-ordering{
            text-align: center;
            margin-top: 10px;
            margin: 10px 0 0;
            float: none;
            position: relative;
            top: 0;
            right: 0;
            left: 0!important;
            .form-control {
                font-size: 14px;
                width: 100%;
                margin-bottom: 15px;
            }
            .nice-select.open .list {
                width: 100%;
            }
        }
    }

    .faq-accordion {
        .card {
            .card-header {
                button {
                    font-size: 15px;
                    padding: {
                        top: 15px;
                        bottom: 15px;
                        left: 15px;
                        right: 15px;
                    };
                    &::before {
                        right: 10px;
                    }
                }
            }
        }
    }

    .error-content {
        h3 {
            font-size: 25px;
            margin: {
                bottom: 15px;
                top: 30px;
            };
        }
        .default-btn {
            margin-top: 15px;
        }
    }

    .login-form {
        padding: 30px 20px;
        margin-right: 0;

        h2 {
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
        }
        form {
            .lost-your-password-wrap {
                text-align: left;
                margin-top: 15px;
            }
            button {
                padding: 13px 30px;
                font-size: 15px;
            }
        }
    }
    .register-form {
        margin-top: 40px;
        border-top: 1px solid #eeeeee;
        padding: {
            left: 0;
            top: 30px;
        };
        h2 {
            margin-bottom: 20px;
            text-align: center;
            font-size: 25px;
        }
        form {
            .lost-your-password-wrap {
                text-align: left;
                margin-top: 15px;
            }
            button {
                padding: 13px 30px;
                font-size: 15px;
            }
        }
    }

    .coming-soon-area {
        height: 100%;
        padding: {
            top: 100px;
            bottom: 100px;
            left: 15px;
            right: 15px;
        };
    }
    .coming-soon-content {
        padding: 30px 20px;

        h2 {
            margin-top: 25px;
            font-size: 25px;
        }
        #timer {
            margin-top: 10px;

            .countdown-items {
                width: 95px;
                height: 100px;
                font-size: 32px;
                margin-top: 20px;

                .guto-lite-label {
                    font-size: 14px;
                }
            }
        }
        form {
            max-width: 100%;
            margin-top: 40px;

            .form-group {
                margin-bottom: 20px;

                .input-newsletter {
                    font-size: 14px;
                }
                .label-title {
                    i {
                        top: 12px;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .widget-area {
        padding-left: 0;
        margin-top: 40px;

        .widget {
            margin-bottom: 30px;

            .widget-title {
                font-size: 18px;
                margin-bottom: 25px;
            }
        }
        .widget_guto_lite_posts_thumb {
            .item {
                .info {
                    .title {
                        font-size: 15px;
                    }
                    .meta {
                        li {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .widget_socials_link {
            ul {
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
        .widget_buy_now {
            .content {
                padding: 15px;
                max-width: 225px;

                &::before {
                    margin: -10px;
                }
            }
        }
        .tagcloud {
            a {
                font-size: 13px !important;
            }
        }
    }

    .footer-area {
        padding-top: 60px;
    }
    .single-footer-widget {
        .social-links {
            li {
                a {
                    font-size: 17px;
                }
            }
        }
        h3 {
            font-size: 17px;
            padding-bottom: 7px;

            &::before {
                height: 1px;
            }
        }
        &.pl-5, &.px-5 {
            padding-left: 0!important;
        }
    }
    .footer-bottom-area {
        margin-top: 30px;
        text-align: center;
        padding: {
            top: 25px;
            bottom: 25px;
        };
        ul {
            text-align: center;
            margin-top: 10px;
        }
    }
    .circle-map {
        right: 0;
        left: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
    }

    .go-top {
        right: 15px;
        width: 37px;
        height: 40px;
        font-size: 25px;

        &.active {
            bottom: 15px;
        }
    }
    .shop-sidebar {
        padding-left: 0;
        padding-top: 50px;

        h3 {
            margin-bottom: 21px;
            margin-top: 22px;
            font-size: 19px;
        }
    }

    .single-blog-post.without-image {
        padding: 10px 20px;
    }

    .sticky {
        .single-blog-post .content {
            padding: 10px 20px;
            margin-top: 5px;
        }
    }

    .sidebar {
        padding-left: 0;
        padding-top: 30px;
        .widget {
            margin-bottom: 25px;
            padding: 20px;
            &:last-child{
                margin-bottom: 0px;
            }
            .widget-title {
                margin-bottom: 12px;
                padding-bottom: 12px;
                font-size: 17px;
            }
            ul {
                li {
                    padding-left: 15px;
                    font-size: 13px;
                    &::before {
                        top: 4px;
                    }
                }
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
        .tagcloud {
            a {
                font-size: 13px !important;
                margin-top: 8px;
                margin-right: 4px;
            }
        }

    }
    .single-footer-widget {
        margin-bottom: 15px;
    }
    .single-footer-widget .logo {
        margin-bottom: 0;
    }

    table td, table th {
        padding: 9px 6px;
    }
    .products_details div.product .woocommerce-tabs ul#tabs .nav-item {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-area.hide-adminbar.is-sticky {
        top: 0;
    }
    #comments {
        padding: 20px;
    }
    #comments .comment-author .avatar {
        height: 50px;
        left: 0;
        position: relative;
        width: 50px;
        display: block;
        margin-bottom: 7px;
    }
    #comments .comment-list .comment-body {
        margin-left: 0;
    }
    #comments .children .comment-author .avatar {
        left: 0;
    }
    #comments .comment-metadata {
        font-size: 9px;
    }
    .post-password-form label input {
        margin: 0;
    }

    .ordering {
        margin-bottom: 25px;
    }
    .woocommerce-result-count {
        text-align: center;
        float: unset !important;
    }
    .woocommerce-ordering {
        float: unset !important;
    }

    .blog-details-area {
        .blog-details-content {
            h1 {
                font-size: 30px;
            }
            h2 {
                font-size: 25px;
            }
            h3 {
                font-size: 22px;
            }
            h4 {
                font-size: 20px;
            }
            h5 {
                font-size: 18px;
            }
            h6 {
                font-size: 17px;
            }
            .post-tag-media {
                padding: 1px 10px;
            }
            .post-tag-media{
                ul {
                    text-align: center;
                }
            }
        }
    }

    .comment-respond .form-submit input {
        padding: 7px 17px 5px;
        font-size: 14px;
    }

    .single-products-box-two {
        .image {
            .quick-view-btn {
                padding: 8px 10px 9px;
                opacity: 1;
                visibility: visible;
                bottom: 0;
                font-size: 14px;

                i {
                    font-size: 18px;
                    top: 3.5px;
                }
            }
        }
        .content {
            h3 {
                font-size: 16px;
                margin-bottom: 14px;
            }
            .price {
                opacity: 1 !important;
                visibility: visible !important;

                span {
                    font-size: 14px;
                }
            }
            .add-to-cart-btn {
                left: auto;
                right: 0;
                position: relative;
                opacity: 1;
                visibility: visible;
                margin-left: 0;
                font-size: 14px;
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                margin-top: 0;
            }
        }
    }

    .productsQuickView {
        .modal-dialog {
            max-width: 100%;
        }
        .modal-content {
            padding: 20px;

            button.close {
                z-index: 5;
                background-color: red;
                line-height: 25px;
                color: var(--whiteColor);
            }
            .products-content {
                margin-top: 25px;

                h3 {
                    font-size: 18px;
                }
                .price {
                    font-size: 13px;
                }
                .products-color-switch {
                    h4 {
                        font-size: 14px;
                    }
                }
                .products-size-wrapper {
                    h4 {
                        font-size: 14px;
                    }
                }
                .products-add-to-cart {
                    .input-counter {
                        input {
                            height: 39px;
                            font-size: 15px;
                        }
                        span {
                            line-height: 42px;
                            font-size: 17px;
                        }
                    }
                }
                .view-full-info {
                    font-size: 13px;
                }
            }
        }
    }

    .woocommerce ul.products li.product {
        width: 100% !important;
    }
    .single-products-box-two .content .added_to_cart {
        opacity: 1;
        visibility: visible;
        margin-left: 0;
        font-size: 12px;
        left: 31%;
    }



    .promotions-content {
        text-align: center;

        h2 {
            font-size: 24px;
            max-width: 100%;
        }
        p {
            max-width: 100%;
        }
    }
    .promotions-image {
        height: auto;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .promotions-text {
        padding: {
            top: 30px;
            bottom: 30px;
        };
        h1 {
            font-size: 30px;
            margin: {
                bottom: 15px;
                top: 0;
            };
            span {
                font-size: 16px;
                margin-top: 10px;
            }
        }
        p {
            font-size: 15px;
        }
        .default-btn {
            margin-top: 0;
        }
    }

    .partner-area-two {
        .section-title {
            text-align: center;
            margin: {
                bottom: 30px;
                top: 0;
            };
        }
    }
    .partner-list {
        margin-bottom: -30px;
    }
    .partner-item {
        margin-bottom: 30px;
    }

    .instagram-area {
        .section-title {
            text-align: center;
            margin: {
                bottom: 30px;
                top: 0;
            };
        }
    }

    .single-facility-box {
        .icon {
            width: 100px;
            height: 100px;
            font-size: 50px;

            i {
                top: 40%;
                transform: translateY(-40%);
            }
        }
        h3 {
            font-size: 17px;
            padding-top: 20px;
            margin-top: -20px;
        }
    }

    .customer-service-content {
        h3 {
            font-size: 17px;
        }
    }

    .related.products.products-area.ptb-70 {
        padding-bottom: 0;
    }

    .widget_guto_lite_socials_link {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }


    .widget_buy_now {
        .content {
            padding: 15px;
            max-width: 225px;

            &::before {
                margin: -10px;
            }
        }
    }

    .widget_guto_lite_posts_thumbs {
        .item {
            margin-bottom: 15px;
            .info {
                .title {
                    font-size: 15px;
                    margin-bottom: 0;
                }
                .meta {
                    li {
                        margin-right: 10px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_two) {

    .container {
        max-width: 540px;
    }

    .top-header-area {
        .container-fluid {
            max-width: 540px;
        }
    }

    .admin-bar .navbar-area.is-sticky {
            top: 46px;
    }

    .main-banner-area {
        .container {
            max-width: 540px;
        }
    }

    .main-banner-area-two {
        .container-fluid {
            max-width: 540px;
        }
    }

    .admin-bar {
        .navbar-area.is-sticky {
            top: 32 !important;
        }
    }

    .single-team-box {
        .image {
            .social {
                right: 18px;
                bottom: 18px;
            }
        }
    }

    .partner-inner-area {
        padding: {
            left: 25px;
            right: 25px;
        };
    }

    .subscribe-inner-area {
        padding: {
            left: 25px;
            right: 25px;
        };
    }

    .subscribe-inner-area-two {
        padding: {
            left: 25px;
            right: 25px;
        };
    }

    .blog-details-desc {
        .article-footer {
            text-align: left;

            .article-tags {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .article-share {
                flex: 0 0 50%;
                max-width: 50%;
                margin-top: 0;

                .social {
                    text-align: right;
                }
            }
        }
    }
    .comments-area {
        .comment-body {
            padding-left: 70px;
        }
        .comment-author {
            .avatar {
                left: -70px;
                width: 50px;
                height: 50px;
                margin-bottom: 0;
                position: absolute;
            }
        }
    }

    .footer-bottom-area {
        text-align: left;

        ul {
            margin-top: 0;
            text-align: right;
        }
    }

}

/* Min width 576px to Max width 600px */
@media only #{$media} and ($feature_min : $value_one) and ($feature_max : $value_600) {
    .admin-bar .navbar-area.is-sticky {
        top: 0;
    }
}

/* Min width 768px to Max width 991px */
@media only #{$media} and ($feature_min : $value_three) and ($feature_max : $value_four) {

    .container {
        max-width: 720px;
    }
    .ptb-100 {
        padding: {
            top: 80px;
            bottom: 80px;
        };
    }
    .pt-100 {
        padding-top: 80px;
    }
    .pb-100 {
        padding-bottom: 80px;
    }
    .ptb-70 {
        padding: {
            top: 50px;
            bottom: 50px;
        };
    }
    .pt-70 {
        padding-top: 50px;
    }
    .pb-70 {
        padding-bottom: 50px;
    }
    .default-btn {
        font-size: 14px;

        i {
            font-size: 18px;
        }
    }
    .section-title {
        margin-bottom: 45px;
        max-width: 615px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }

    .top-header-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .main-banner-area {
        padding: {
            top: 80px;
            bottom: 80px;
        };
        .container {
            max-width: 720px;
        }
    }
    .main-banner-content {
        padding-right: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h1 {
            font-size: 42px;
            margin-bottom: 15px;
        }
        p {
            margin: {
                left: auto;
                right: auto;
            };
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .main-banner-image {
        margin: {
            left: 0;
            top: 35px;
        };
    }
    .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10 {
        display: none;
    }

    .main-banner-area-two {
        padding-top: 80px;

        .container-fluid {
            max-width: 720px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-content-two {
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        };
        padding: {
            top: 0;
            bottom: 0;
            right: 0;
        };
        .sub-title {
            font-size: 13px;
        }
        h1 {
            font-size: 42px;
            margin-bottom: 15px;
        }
        p {
            margin: {
                left: auto;
                right: auto;
            };
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .main-banner-image-two {
        padding-left: 0;
        margin-top: 35px;
    }

    .single-categories-box {
        h3 {
            top: 15%;
            left: 20px;
            font-size: 20px;
        }
        .default-btn {
            left: 20px;
            bottom: 20px;
        }
    }

    .single-featured-services-box {
        padding: 30px 20px;

        h3 {
            font-size: 20px;
        }
    }

    .about-image {
        padding-right: 0;
    }
    .about-content {
        padding-left: 0;
        text-align: center;
        margin-top: 30px;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
    }

    .single-testimonials-item {
        .clients-info {
            margin-top: 25px;
        }
    }
    .testimonials-slides {
        .single-testimonials-item {
            max-width: 100%;
        }
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    top: auto;
                    bottom: 9px;
                    transform: unset;
                }
            }
        }
    }

    .services-area {
        padding-bottom: 30px;
    }
    .single-services-box {
        padding-left: 0;
        text-align: center;

        .icon {
            position: relative;
            margin: {
                left: auto;
                right: auto;
                bottom: 20px;
            };
        }
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    .video-area {
        padding: {
            top: 120px;
            bottom: 120px;
        };
    }
    .video-content {
        h2 {
            font-size: 30px;
        }
        .video-btn {
            width: 70px;
            height: 70px;
            font-size: 55px;
        }
    }

    .single-working-process-box {
        padding-left: 0;
        text-align: center;

        .number {
            right: 0;
            top: auto;
            bottom: 0;
        }
        .icon {
            position: relative;
            margin: {
                left: auto;
                right: auto;
                bottom: 20px;
            };
        }
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    .why-choose-content {
        padding-right: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
            padding-left: 0;

            &::before {
                display: none;
            }
        }
    }
    .why-choose-image {
        padding-left: 0;
        margin-top: 30px;
    }

    .single-team-box {
        .image {
            .social {
                right: 20px;
                bottom: 35px;
            }
        }
        .content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .partner-inner-area {
        text-align: center;
        padding: {
            left: 30px;
            right: 30px;
        };
        .section-title {
            text-align: center;
            margin-bottom: 40px;
        }
    }

    .single-blog-post {
        .content {
            h3 {
                font-size: 20px;
            }
            .link-btn {
                position: relative;
                bottom: 0 !important;
                opacity: 1;
                visibility: visible;
                margin-top: 12px;
            }
        }
    }

    .subscribe-inner-area {
        padding: {
            left: 50px;
            right: 50px;
        };
        form {
            max-width: 100%;
            padding-right: 200px;
        }
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .subscribe-shape1 {
        img {
            width: 200px;
        }
    }
    .subscribe-shape2 {
        img {
            width: 220px;
        }
    }

    .subscribe-inner-area-two {
        padding: {
            left: 50px;
            right: 50px;
        };
        form {
            max-width: 100%;
            padding-right: 200px;
        }
        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }

    .page-title-content {
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        };
        h2 {
            font-size: 35px;

            &::before {
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .elementor-widget-Overview_Area {
        margin-bottom: 30px !important;
    }

    .services-details-overview {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: 40px;
        margin-bottom: 30px;

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
        .services-details-desc {
            flex: 0 0 100%;
            max-width: 100%;
            order: 1;

            h2 {
                font-size: 22px;
            }
            .features-text {
                h3 {
                    font-size: 17px;
                    padding-left: 25px;

                    i {
                        left: -5px;
                        top: -5px;
                        font-size: 25px;
                    }
                }
            }
        }
        .services-details-image {
            flex: 0 0 100%;
            max-width: 100%;
            order: 2;
            margin-top: 30px;
        }
    }

    .single-projects-box {
        .projects-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .projects-details-desc {
        h2 {
            font-size: 22px;
        }
        .features-text {
            h3 {
                font-size: 17px;
                padding-left: 25px;

                i {
                    left: -5px;
                    top: -5px;
                    font-size: 25px;
                }
            }
        }
        .project-details-info {
            margin-top: 0;

            .single-info-box {
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
                margin-top: 25px;
            }
        }
    }

    .single-pricing-box {
        .pricing-header {
            h3 {
                font-size: 20px;
            }
        }
        .price {
            line-height: 40px;
            font-size: 40px;

            sub {
                margin: 0 -8px 0 -10px;
            }
        }
    }

    .products-area {
        .pagination-area {
            margin-top: 15px;
        }
    }
    .single-products-box {
        .products-image {
            .default-btn {
                left: 15px;
                position: relative;
                top: auto;
                transform: unset;
                opacity: 1;
                visibility: visible;
                margin-top: 0 !important;
                bottom: 15px;
            }
        }
        .products-content {
            h3 {
                font-size: 20px !important;
            }
        }
    }

    .billing-details {
        .title {
            font-size: 20px;
        }
    }
    .order-details {
        margin-top: 35px;
    }

    .products-details-desc {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 20px;
        }
    }
    .products-details-tabs {
        .tab-content {
            .tab-pane {
                .products-reviews {
                    h3 {
                        font-size: 20px;
                    }
                }
                .products-review-comments {
                    h3 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .login-form {
        margin-right: 0;

        h2 {
            font-size: 25px;
        }
    }
    .register-form {
        margin-top: 40px;
        border-top: 1px solid #eeeeee;
        padding: {
            left: 0;
            top: 30px;
        };
        h2 {
            font-size: 25px;
        }
    }

    .widget-area {
        padding-left: 0;
        margin-top: 40px;

        .widget {
            margin-bottom: 30px;

            .widget-title {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }
    }

    .blog-details-desc {
        .article-content {
            h3 {
                font-size: 20px;
            }
        }
        .article-author {
            .author-profile {
                .author-profile-title {
                    h4 {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .prev-link-wrapper {
        .prev-title {
            font-size: 16px;
        }
    }
    .next-link-wrapper {
        .next-title {
            font-size: 16px;
        }
    }

    .contact-form {
        padding: 30px;
        margin: {
            right: 0;
            bottom: 55px;
        };
    }

    .footer-area {
        padding-top: 80px;
    }
    .single-footer-widget {
        h3 {
            font-size: 20px;
        }
    }
    .footer-bottom-area {
        margin-top: 50px;
    }

    .single-products-box {
        .products-image {
            .default-btn {
                left: 0;
                right: 0;
            }
            .added.default-btn {
                margin-bottom: 0;
            }
            .added_to_cart {
                padding-top: 0;
            }
        }
        .products-content {
            margin-top: 0;
            h3 {
                padding: 0 !important;
            }
        }
        li.product {
            margin: 0;
            .price {
                margin: 0 !important;
            }
        }
    }

    .single-products-box-two {
        .content {
            h3 {
                margin-bottom: 12px;
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav {
                &.disabled + .owl-dots {
                    margin-top: 0;
                }
            }
        }
    }

    .single-products-box-two {
        .products-image {
            .default-btn {
                left: 15px;
                top: auto;
                transform: unset;
                opacity: 1;
                visibility: visible;
                margin-top: 0;
                bottom: 15px;
            }
        }
        .products-content {
            h3 {
                font-size: 20px;
            }
        }
    }

    .promotions-area {
        .col-lg-4 {
            &:nth-child(1) {
                order: 1;
            }
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 2;
            }
        }
    }
    .promotions-content {
        h2 {
            font-size: 30px;
        }
    }
    .promotions-image {
        height: auto;
        background-image: unset !important;

        img {
            display: inline-block;
        }
    }
    .promotions-text {
        padding: {
            top: 40px;
            bottom: 40px;
        };
        h1 {
            font-size: 40px;
            margin: {
                bottom: 20px;
                top: -5px;
            };
            span {
                font-size: 17px;
                margin-top: 10px;
            }
        }
        p {
            font-size: 17px;
        }
        .default-btn {
            margin-top: 0;
        }
    }

    .partner-area-two {
        text-align: center;

        .section-title {
            text-align: center;
            margin: {
                bottom: 40px;
                top: 0;
            };
        }
    }

    .instagram-area {
        .section-title {
            text-align: center;
            margin: {
                bottom: 40px;
                top: 0;
            };
        }
    }

    .single-facility-box {
        h3 {
            font-size: 20px;
        }
    }

    .customer-service-content {
        h3 {
            font-size: 20px;
        }
    }

    .sidebar {
        padding-top: 30px;
    }
    .admin-bar .navbar-area.is-sticky {
        top: 46px;
    }

}

/* Min width 992px to Max width 1199px */
@media only #{$media} and ($feature_min : $value_five) and ($feature_max : $value_six) {

    .container {
        max-width: 960px;
    }
    .guto-lite-responsive-nav .guto-lite-responsive-menu {
        margin-top: 0;
    }
    .section-title {
        h2 {
            font-size: 35px;
        }
    }

    .top-header-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .single-categories-box {
        h3 {
            top: 15%;
            left: 15px;
            font-size: 20px;
        }
        .default-btn {
            left: 20px;
            bottom: 20px;
        }
    }

    .navbar-area {
        padding: {
            top: 20px;
            bottom: 20px;
        };
    }
    .guto-lite-responsive-nav {
        .others-option {
            display: flex !important;
            position: absolute;
            right: 60px;
            top: -10px;
        }
    }
    .others-option-for-responsive {
        display: none;
    }

    .main-banner-area {
        .container {
            max-width: 960px;
        }
    }
    .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10 {
        display: none;
    }

    .main-banner-content-two {
        padding-right: 0;

        h1 {
            font-size: 50px;
        }
        p {
            max-width: 100%;
        }
    }
    .main-banner-image-two {
        margin-left: 0;

        img {
            &:nth-child(2) {
                width: 250px;
            }
        }
    }

    .main-banner-area-two {
        padding-top: 90px;

        .container-fluid {
            max-width: 960px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-content-two {
        max-width: 560px;
        padding: {
            top: 0;
            bottom: 0;
            right: 30px;
        };
        h1 {
            font-size: 45px;
        }
        p {
            max-width: 100%;
        }
    }

    .single-featured-services-box {
        padding: 40px 25px;
    }

    .about-image {
        padding-right: 0;
    }
    .about-content {
        padding-left: 0;

        h2 {
            font-size: 35px;
        }
    }

    .why-choose-content {
        padding-right: 0;
    }
    .why-choose-image {
        padding-left: 0;
    }

    .single-team-box {
        .image {
            .social {
                right: 30px;
                bottom: -10px;
            }
        }
    }

    .partner-inner-area {
        padding: {
            left: 40px;
            right: 40px;
        };
    }

    .page-title-content {
        text-align: center;
        margin: {
            left: auto;
            right: auto;
        };
        h2 {
            &::before {
                right: 0;
                margin: 0 auto;
            }
        }
    }

    .single-funfacts-box {
        padding: {
            top: 60px;
            bottom: 60px;
            left: 15px;
            right: 15px;
        };
    }

    .services-details-overview {
        .services-details-desc {
            h2 {
                font-size: 25px;
            }
        }
    }

    .projects-details-desc {
        h2 {
            font-size: 25px;
        }
    }

    .products-details-desc {
        padding-left: 0;
    }

    .widget-area {
        padding-left: 0;

        .widget_buy_now {
            .content {
                max-width: 220px;
            }
        }
    }

    .contact-form {
        padding: 30px;
        margin-right: 10px;
    }

    .single-products-box {
        .content {
            .price {
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .products-slides {
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                margin-top: 0;
            }
        }
    }

    .promotions-content {
        h2 {
            font-size: 35px;
        }
    }
    .widget_buy_now {
        .content {
            max-width: 220px;
        }
    }

}

/* Min width 1200px to Max width 1355px */
@media only #{$media} and ($feature_min : $value_seven) and ($feature_max : $value_eight) {

    .container {
        max-width: 1140px;
    }

    .top-header-area {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .guto-lite-nav {
        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }

    .main-banner-area {
        .container {
            max-width: 1140px;
        }
    }
    .main-banner-content {
        padding-right: 0;
    }
    .main-banner-image {
        margin-left: 0;
    }
    .shape1 {
        top: 7%;
        left: 3%;
    }

    .main-banner-area-two {
        padding-top: 60px;

        .container-fluid {
            max-width: 1140px;
            padding: {
                left: 15px;
                right: 15px;
            };
        }
    }
    .main-banner-image-two {
        padding-left: 30px;
    }
    .main-banner-content-two {
        max-width: 620px;
        padding: {
            top: 0;
            bottom: 0;
            right: 50px;
        };
        h1 {
            font-size: 55px;
        }
    }

    .about-image {
        padding-right: 0;
    }
    .about-content {
        padding-left: 0;
    }

    .why-choose-content {
        padding-right: 0;
    }
    .why-choose-image {
        padding-left: 0;
    }

}

/* Min width 1550px */
@media only #{$media} and ($feature_min : $value_nine) {

    .top-header-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }
    .guto-lite-nav {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

    .shape1 {
        left: 10%;
    }
    .shape7 {
        right: 12.5%;
    }
    .shape2 {
        left: 60px;
        bottom: 60px;
    }
    .shape9 {
        left: 12%;
    }
    .shape10 {
        right: 10%;
        bottom: 30%;
    }
    .shape8 {
        bottom: 15%;
        left: 6%;
    }

    .why-choose-area {
        .shape10 {
            left: 8%;
            right: auto;
            bottom: 25%;
        }
        .shape9 {
            right: 12%;
            left: auto;
        }
        .shape8 {
            right: 6%;
            left: auto;
        }
    }

    .circle-map {
        right: 18%;
    }

    .page-title-area {
        .shape9 {
            left: -11.5%;
            top: -30%;
        }
    }

    .main-banner-area-two {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

}