#customize-controls .control-section-bb-ecommerce-store .accordion-section-title:hover,
#customize-controls .control-section-bb-ecommerce-store .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-bb-ecommerce-store .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-bb-ecommerce-store .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
/* ---------Customizer--------- */
a.button.button-secondary.alignright {
  background: #006799;
  color: #fff;
  border: solid 1px #0073aa;
  font-size: 15px;
  padding: 0 20px;
}
a.button.button-secondary.alignright:hover {
	background: #0073aa;
}

/* ---------Excerpt & Logo --------- */
input#_customize-input-logo_size,
input#_customize-input-bb_ecommerce_store_excerpt_number,
input#_customize-input-bb_ecommerce_store_wooproducts_border_radius,
input#_customize-input-bb_ecommerce_store_wooproducts_box_shadow,
input#_customize-input-bb_ecommerce_store_product_button_border_radius,
input#_customize-input-bb_ecommerce_store_slider_speed_option{
    width: 100%;
}
li#customize-control-logo_size {
    background: #fff;
    padding: 4px;
}
input#_customize-input-bb_ecommerce_store_button_padding_top_bottom,
input#_customize-input-bb_ecommerce_store_button_padding_left_right,
input#_customize-input-bb_ecommerce_store_button_border_radius,
input#_customize-input-bb_ecommerce_store_copyright_padding,
input#_customize-input-bb_ecommerce_store_scroll_font_size_icon,
input#_customize-input-bb_ecommerce_store_footer_content_font_size,
input#_customize-input-bb_ecommerce_store_excerpt_number,
input#_customize-input-bb_ecommerce_store_slider_excerpt_length{
  width: 30%;
  float:right;
}
.customize-control-title{
  display: inline-block;
}
ul#sub-accordion-section-bb_ecommerce_store_product_button_section{
  border: none !important;
}
.customize-control-checkbox label {
  font-weight: 600;
  font-size: 14px;
}